/* # Markdown 风格 */	
/* 标题、正文、行内代码 - 颜色 */	
:root {	
    --primary: #212121;  /* rgb(30, 30, 30); */	
    --content: #333333;  /* rgb(31, 31, 31); */	
    --code-bg: rgba(175, 184, 193, 0.2); /* rgb(245, 245, 245); */	
    --hljs-bg: #282C34;	
}	
.dark {	
    --code-bg: rgba(175, 184, 193, 0.2); /* rgb(55, 56, 62); */	
    --hljs-bg: #1c1c1c;	
}	

/* 链接样式 */	
.post-content a {	
    color: #0969da;	
    box-shadow: none;	
    text-decoration: none;	
}	
.post-content a:hover {	
    text-decoration: underline;	
}	
/* 行内代码 - 左右间距 */	
.post-content code {	
    margin: unset;	
}	
/* 代码块 - 最大高度 */	
.post-content pre code {	
    max-height: 40rem;	
}	

pre, code {	
    font-family: Consolas,Monaco,SFMono-Regular,Andale Mono,Liberation Mono,Ubuntu Mono,Menlo,monospace;	
}	

.post-content .highlight pre {	
    tab-size: 4 !important;	
}	

.post-content .highlight:not(table), .post-content pre {	
    box-shadow: 1px 5px 5px 1px rgb(144 164 174 / 60%);	
    border-radius: var(--radius);	
}	

.dark .post-content .highlight:not(table), .post-content pre {	
    box-shadow: 1px 5px 5px 1px rgb(5 10 15 / 60%);	
    border-radius: var(--radius);	
}	

/* 图片居中 */	
.post-content img {	
    margin: auto;	
}	
/* 行文风格 */	
body {	

    /* font-family: "LXGW WenKai Screen", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif; */	
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;	
    font-size: 1rem;	
    line-height: 1.5;	
    margin: 0;	
}	
.post-content {	
    padding-top: 1rem;	
}	
.post-content blockquote {	
    color: #808080;	
}	
.post-content p,	
.post-content blockquote,	
.post-content figure,	
.post-content table,	
.post-content hr {	
    margin: 1.15rem 0;	
}	
.post-content ul,	
.post-content ol,	
.post-content dl,	
.post-content li {	
    margin: 0.5rem 0;	
}	
.post-content h1,	
.post-content h2,	
.post-content h3,	
.post-content h4,	
.post-content h5,	
.post-content h6 {	
    margin-bottom: 1.15rem;	
    font-weight: 600;	
}	
.post-content h1 {	
    font-size: 2.6rem;	
    margin-top: 4rem;	
    border-bottom: 1px solid #ccc;	
}	
.post-content h2 {	
    font-size: 1.8rem;	
    margin-top: 4rem;	
    border-bottom: 1px solid #ccc;	
}	
.post-content h3 {	
    font-size: 1.6rem;	
    margin-top: 2rem;	
}	
.post-content h4 {	
    font-size: 1.4rem;	
    margin-top: 1.44rem;	
}	
.post-content h5 {	
    font-size: 1.2rem;	
    margin-top: 1.15rem;	
}	
.post-content h6 {	
    font-size: 1rem;	
    margin-top: 1rem;	
}	
/* GitHub 样式的表格 */	
.post-content table tr {	
    border: 1px solid #979da3 !important;	
}	
.post-content table tr:nth-child(2n),	
.post-content thead {	
    background-color: var(--code-bg);	
}	
.post-content table th {	
    border: 1px solid #979da3 !important;	
}	
.post-content table td {	
    border: 1px solid #979da3 !important;	
}	

:root {	
    --nav-width: 1380px;	
    --article-width: 650px;	
    --toc-width: 300px;	
}	

.toc {	
    margin: 0 2px 40px 2px;	
    border: 1px solid var(--border);	
    background: var(--entry);	
    border-radius: var(--radius);	
    padding: 0.4em;	
}	

.toc-container.wide {	
    position: absolute;	
    height: 100%;	
    border-right: 1px solid var(--border);	
    left: calc((var(--toc-width) + var(--gap)) * -1);	
    top: calc(var(--gap) * 2);	
    width: var(--toc-width);	
}	

.wide .toc {	
    position: sticky;	
    top: var(--gap);	
    border: unset;	
    background: unset;	
    border-radius: unset;	
    width: 100%;	
    margin: 0 2px 40px 2px;	
}	

.toc details summary {	
    cursor: zoom-in;	
    margin-inline-start: 20px;	
    padding: 12px 0;	
}	

.toc details[open] summary {	
    font-weight: 500;	
}	

.toc-container.wide .toc .inner {	
    margin: 0;	
}	

.active {	
    font-size: 110%;	
    font-weight: 600;	
}	

.toc ul {	
    list-style-type: circle;	
}	

.toc .inner {	
    margin: 0 0 0 20px;	
    padding: 0px 15px 15px 20px;	
    font-size: 16px;	

    /*目录显示高度*/	
    max-height: 83vh;	
    overflow-y: auto;	
}	

.toc .inner::-webkit-scrollbar-thumb {  /*滚动条*/	
    background: var(--border);	
    border: 7px solid var(--theme);	
    border-radius: var(--radius);	
}	

.toc li ul {	
    margin-inline-start: calc(var(--gap) * 0.5);	
    list-style-type: none;	
}	

.toc li {	
    list-style: none;	
    font-size: 0.95rem;	
    padding-bottom: 5px;	
}	

.toc li a:hover {	
    color: var(--secondary);	
}	

img {	
    width:100%;	
    height:auto;	
}	

video {	
    width:100%;	
    height:auto;	
}	

/* figure {	
    background-color: var(--code-bg);	
} */	

.post-content figure>figcaption {	
    color: var(--primary);	
    font-size: 12px;	
    margin: 8px 0 16px;	
    font-weight: 100;	
}	

figure figcaption:before {	
    content: "◎ ";	
}	

.friendurl {	
    text-decoration: none !important;	
    color: black;	
    box-shadow: none !important;	
}	

.myfriend {	
    width: 56px !important;	
    height: 56px !important;	
    border-radius: 50%!important;	
    padding: 2px;	
    margin-top: 20px !important;	
    margin-left: 14px !important;	
    background-color: #fff;	
}	

.frienddiv {	
    overflow: auto;	
    height: 100px;	
    width: 49%;	
    display: inline-block !important;	
    border-radius: 5px;	
    background: none;	

    -webkit-transition: all ease-out 0.3s;	
    -moz-transition: all ease-out 0.3s;	
    -o-transition: all ease-out 0.3s;	
    transition: all ease-out 0.3s;	
}	

.dark .frienddiv:hover {	
    background: var(--code-bg);	
}	

.frienddiv:hover {	
    background: var(--theme);	
    transition: transform 1s;	
    webkit-transform: scale(1.1);	
    -moz-transform: scale(1.2);	
    -ms-transform: scale(1.2);	
    -o-transform: scale(1.2);	
    transform: scale(1.1);	
}	

.frienddiv:hover .frienddivleft img { 	
    transition: 0.9s !important;	
    -webkit-transition: 0.9s !important;	
    -moz-transition: 0.9s !important;	
    -o-transition: 0.9s !important;	
    -ms-transition: 0.9s !important;	
    transform: rotate(360deg) !important;	
    -webkit-transform: rotate(360deg) !important;	
    -moz-transform: rotate(360deg) !important;	
    -o-transform: rotate(360deg) !important;	
    -ms-transform: rotate(360deg) !important;	
}	

.frienddivleft {	
    width: 92px;	
    float: left;	
    margin-right: -5px;	
}	

.frienddivright {	
    margin-top: 18px;	
    margin-right: 18px;	
}	

.friendname {	
    text-overflow: ellipsis;	
    font-size: 100%;	
    margin-bottom: 5px;	
    color: var(--primary);	
}	

.friendinfo {	
    text-overflow: ellipsis;	
    font-size: 70%;	
    color: var(--primary);	
}	

@media screen and (max-width: 600px) {	
    .friendinfo {	
        display: none;	
    }	
    .frienddivleft {	
        width: 84px;	
        margin: auto;	
    }	
    .frienddivright {	
        height: 100%;	
        margin: auto;	
        display: flex;	
        align-items: center;	
        justify-content: center;	
    }	
    .friendname {	
        font-size: 18px;	
    }	
}	
