<!-- Twikoo -->
<div>
    <div class="pagination__title">
        <h1>评论</h1>
        <hr />
    </div>

    <div id="tcomment"></div>

    <script src="https://cdn.staticfile.org/twikoo/{{ .Site.Params.twikoo.version }}/twikoo.all.min.js">
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/twikoo/dist/twikoo.all.min.js"></script> -->

    <!-- <script>window.TWIKOO_MAGIC_PATH="共用评论区的名称"</script> -->

    <script>
        twikoo.init({
            envId: "https://comment.liudon.com", //填自己的
            el: "#tcomment",
            lang: 'zh-CN',
            region: 'ap-shanghai',
            path: window.TWIKOO_MAGIC_PATH||window.location.pathname,
            // onCommentLoaded: function () {
            //     $(".tk-content img:not(.tk-avatar-img)").each(function () {
            //         var _b = $("<a></a>").attr("href", this.src);
            //         $(this).wrap(_b);
            //     })
            //     $(".tk-content a[rel!=link]:has(img)").slimbox();
            // }
        });
    </script>

</div>
