<!-- Twikoo -->
<div>
    <div class="post_ads">
        <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4739645989170648"
     data-ad-slot="5019102040"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
    <script>
        window.addEventListener('load', function() {
         (adsbygoogle = window.adsbygoogle || []).push({});
        });
    </script>
    </div>
    <div class="pagination__title">
        <span class="pagination__title-h" style="font-size: 20px;">💬评论</span>
        <hr />
    </div>

    <div id="tcomment"></div>

    <!-- <script>window.TWIKOO_MAGIC_PATH="共用评论区的名称"</script> -->

</div>
