<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<style>
  @keyframes typing {
      from { width: 0 }
  }
  @keyframes caret {
      50% { border-right-color: #000; }
  }
  .tip_404 {
      font-size: 22px;
      width: 20em;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 5s steps(15), caret .5s steps(1) 10;
      border-right: 1px solid transparent;
      
  }
</style>

<body>
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
      </div>

      <div class="col-xs-12">
       <span class="tip_404">404, page not found.</span>
      </div>
    </div>
</body>
</html>